<!DOCTYPE html>
<html>
<head>
    <!-- <script src="./footer.js" type="text/javascript" defer></script> -->
</head>
<body>




<footer id="footer">
    <p> GitHub Enterprise의 다양한 기능설명을 위한 웹페이지입니다. </p>
    <p> Last Modified Date: $LAST_MODIFIED_DATE$ </p>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {

        var lastModifiedDate = document.lastModified;
        var date = new Date(lastModifiedDate).toLocaleDateString();
        console.log(date);

        document.getElementById('footer').innerHTML = document.getElementById('footer').innerHTML.replace(/\$LAST_MODIFIED_DATE\$/g, date);
        
    });
</script>

</body>
</html>