<!DOCTYPE html>
<html>
<head>
    
</head>
<body>

<footer id="footer">
    <p> GitHub Enterprise의 다양한 기능설명을 위한 웹페이지입니다. </p>
    <p> Last Modified Date: $LAST_MODIFIED_DATE$ </p>
</footer>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    // 마지막 수정 날짜를 가져옵니다.
    var lastModifiedDate = document.lastModified;

    // 페이지 내의 모든 내용을 검색하여 $LAST_MODIFIED_DATE$를 찾고 대체합니다.
    document.body.innerHTML = document.body.innerHTML.replace(/\$LAST_MODIFIED_DATE\$/g, lastModifiedDate);
});
</script>

</body>
</html>